.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  min-height: 100dvh;
  padding: 0.75rem 1rem;
}

.content {
  flex: 1;
  display: grid;
  justify-items: center;
  align-content: start;
  padding-top: 5rem;
}

.contentInner {
  width: min(450px, 100%);
}

@media (max-height: 700px) {
  .main {
    padding: 0.5rem 0.75rem;
  }
}
