.button {
  background: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;;
}

.icon {
  width: 48px;
  height: 36px;
  display: block;
  image-rendering: pixelated;
}
