.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;


  width: 100vh;  max-width: 600px;
  padding: 0 2rem;
}

.topBar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.leaveButton {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.timer {
  flex: 0;
  display: flex;
  justify-content: center;
}

.emptyBlock {
  flex: 1;
  width: 9.5rem;;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.contentInner {
  width: 100%;
  max-width: 380px;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bottomBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomBar p {
  margin: 0;
  text-align: center;
}

@media (max-width: 600px) {

  .contentInner {
    max-width: 260px;
  }

  .bottomBar {
    gap: 1rem;
  }
}
