.outside {
  min-height: 100dvh;
  width: 100%;

  display: flex;
  justify-content: center;

  background-image: url("/pixel-fireflies.gif");
  background-position: center;
  background-size: cover;
}

.greenhouse {
  width: 100%;

  display: flex;
  justify-content: center;

  background-image: url("/bg-tile.svg");
  background-repeat: repeat-x;
  background-position: center;
  background-size: auto 100%;
}

.greenhouseContent {
  width: min(1200px, 100%);
  min-height: 100dvh;

  display: flex;
  justify-content: center;

  padding: 1rem;
}

@media (max-width: 600px) {
  .greenhouse {
    background-size: cover;
  }
}
