.main {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contentInner {
  max-width: 380px;
  width: 100%;
}

.frameBody {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.title {
  margin: 0;
}

.message {
  margin: 0;
}

.extra {
  margin: 0.5rem 0 0;
}

.buttonRow {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .contentInner {
    padding: 0 1rem;
  }
}