.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  width: 100%;
  height: 100%;
}

.logo {
  margin-top: 0.5rem; 
}

@media (max-width: 600px) {
    .main {
        gap: 6rem;
    }
}