.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.frame {
  display: inline-block;
  box-sizing: border-box;

  padding: 0 2rem;

  border-width: 18px;
  border-style: solid;
  border-image-source: url("/pixel-frame.png");
  border-image-slice: 36 fill;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  font-size: 3.4rem;

  line-height: 1;
  color: #000000;
  margin: 0;
}

.subTitle {
  margin-top: -0.4rem;
  font-size: 0.5em;
}
