.pixelButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 220px;
  height: 60px;

  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;

  background: transparent;
  cursor: pointer;
  font: inherit;
  text-transform: uppercase;

  outline: none;

  background-image: url("/pixel-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  image-rendering: pixelated;
}

.label {
  position: relative;
  z-index: 1;
  color: #000000;
}

.pixelButton:hover:not(.disabled):not(:disabled) {
  filter: brightness(1.05);
}

.pixelButton:active:not(.disabled):not(:disabled) {
  filter: brightness(0.95);
  transform: translateY(1px);
}

.pixelButton:focus-visible:not(.disabled):not(:disabled) {
  box-shadow: 0 0 0 5px #1500FF;
}

.disabled,
.pixelButton:disabled {
  cursor: default;
  opacity: 0.5;
  filter: none;
  transform: none;
}
