.outside {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/pixel-fireflies.gif");
  background-position: center center;
  background-size: cover;
}

.greenhouse {
  position: relative;
  width: 100%;
  max-width: auto;
  aspect-ratio: 16 / 9;
    min-height: 100vh;

  background-image: url("/bg-tile.svg");
  background-repeat: repeat-x;
  background-position: center center;
  background-size: contain;

  display: flex;
  justify-content: center;

}

@media (max-width: 600px) {
    .greenhouse {
  background-size: cover;
}
}


